<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	  
	<head>
		<meta charset="ISO-8859-1">
		<title>Home Cloud Taco</title>
		<link type="image/png" sizes="16x16" rel="icon" 
	       href="TacoLogo.png">
	</head>

	<body>
	    <h1>Welcome to Taco Cloud...</h1>
	    
	    <img th:src="TacoCloud.png"/>
	    
	    
	   	<div style="display: flex; justify-content: centre;">
	   		<a th:href="@{/login}" id="login"><button>login</button></a>
	   		&nbsp;
		   	<form method="POST" th:action="@{/logout}" id="logoutForm">
		      	<input type="submit" value="Logout"/>
		    </form>
		</div>

	    <br>
	    
	    <a th:href="@{/design}" id="design">Design a taco</a>
	    &nbsp;
	    <a th:href="@{/orders}" id="orders">List Previous Orders</a>
	    
        <div th:if="${param.logout != null}">
            <div>
                You have been logged out.
            </div>
        </div>
	</body>

</html>